body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 13em;
    align-items: center;
    background-color: #1F2937;
    
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 8em 13em;
    margin: 0;
}

.hero-header {
    inline-size: 10em;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
    line-height: 48px;
}

.hero-text {
    inline-size: 26em;
    margin-bottom: 8px;
    font-size: 18px;
    color: #E5E7EB
}

.hero-right {
    color: #F9FAF8;
    background-color: grey;
    padding: 6em 7em;
}
    
.hero-button {
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 8px 32px;
    color: #F9FAF8;
    font-weight: 900;
}